@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@600&display=swap');
body {
    font-family: Lato, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

*content {
    max-width: 1600px;
}

a {
    background-color: lightblue;
    color: rgb(71, 69, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

a:hover {
    background-color: rgb(65, 63, 63);
    color: whitesmoke;
}

nav {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 30px;
}

img {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 3px solid lightblue;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
}

p {
    /* text-align: center; */
    width: 70%;
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
}

#primary {
    background-color: #ccc;

}

.background {
    background-color: #ccc;
}

footer p {
    width: 100%;
    text-align: center;
    background-color: lightblue;
    color: rgb(71, 69, 69);
}